<ion-view title="Welcome" class="tour">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-slide-box>
    <ion-slide>
      <img src="img/logo.jpg" />
      <h2>Welcome to<br />Sunshine Resort</h2>
    </ion-slide>
    <ion-slide>
      <h3>View your reservation</h3>
      <h3>Call the concierge</h3>
      <h3>Order room service</h3>
      <h3>Discover resort events</h3>
      <h3>Find local places</h3>
      <h3>and much more!</h3>
    </ion-slide>
    <ion-slide>
      <img src="img/logo.jpg" />
      <button class="button button-full button-positive" ng-click="login()">Get Started</button>
    </ion-slide>
  </ion-slide-box>
</ion-view>
