<ion-view title="About App">
  <ion-content class="padding">

    <p>App built as an example for demonstrating many features of the Ionic Framework. Built by Jeremy Wilken, <a href="https://twitter.com/gnomeontherun">@gnomeontherun</a>.</p>
    <h3>Projects Used</h3>
    <ul>
      <li><a href="http://ionicframework.com">Ionic Framework</a></li>
      <li><a href="http://angularjs.org">AngularJS</a></li>
      <li><a href="https://angular-ui.github.io/ui-router">AngularUI ui-router</a></li>
      <li><a href="https://cordova.apache.org">Cordova</a></li>
    </ul>
    <p>Want to make improvements, found a bug, or just have questions? Open an issue on the <a href="https://github.com/ionic-in-action/ionic-demo-resort-app">GitHub project</a>.</p>
    <p>Icon and Splashscreen licensed as CC 3.0 BY-SA/BYCG by Manamedia.com.</p>
  </ion-content>
</ion-view>
