<ion-view title="Local Beaches">
  <ion-content>
    <ul class="list">
      <li class="item item-divider">Public</li>
      <li class="item">
        <h2>Green Beach</h2>
        <p>0.4 miles</p>
      </li>
      <li class="item">
        <h2>Marty's Pointe</h2>
        <p>1.0 miles</p>
      </li>
      <li class="item">
        <h2>Shipwreck Beach</h2>
        <p>4.2 miles</p>
      </li>
      <li class="item">
        <h2>Seal Beach</h2>
        <p>5.7 miles</p>
      </li>
      <li class="item">
        <h2>Glass Beach</h2>
        <p>8.6 miles</p>
      </li>
      <li class="item item-divider">Private</li>
      <li class="item">
        <h2>East Pointe Beach, $5</h2>
        <p>3.2 miles</p>
      </li>
      <li class="item">
        <h2>Secret Beach, $10</h2>
        <p>6.7 miles</p>
      </li>
      <li class="item">
        <h2>Tide Pool Beach, $8</h2>
        <p>9.3 miles</p>
      </li>
    </ul>
  </ion-content>
</ion-view>
