<ion-view title="Local Resturants">
  <ion-content>
    <ul class="list">
      <li class="item item-divider">Casual</li>
      <li class="item">
        <h2>Route 66 Cafe</h2>
        <p>1.4 miles</p>
      </li>
      <li class="item">
        <h2>Applebee's</h2>
        <p>1.5 miles</p>
      </li>
      <li class="item">
        <h2>Sally's Sundaes</h2>
        <p>3.2 miles</p>
      </li>
      <li class="item">
        <h2>Cafe 888</h2>
        <p>3.6 miles</p>
      </li>
      <li class="item">
        <h2>La Fiesta</h2>
        <p>4.3 miles</p>
      </li>
      <li class="item item-divider">Fine Dining</li>
      <li class="item">
        <h2>Italiano</h2>
        <p>3.2 miles</p>
      </li>
      <li class="item">
        <h2>John's Steakhouse</h2>
        <p>3.5 miles</p>
      </li>
      <li class="item">
        <h2>Gulf Coast Seafood</h2>
        <p>5.4 miles</p>
      </li>
    </ul>
  </ion-content>
</ion-view>
