<ion-view title="Local Places">
  <ion-tabs class="tabs-icon-top">
    <ion-tab icon="ion-fork" title="Resturants" href="#/local/food">
      <ion-nav-view name="local-food"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-ios7-sunny" title="Beaches" href="#/local/beaches">
      <ion-nav-view name="local-beaches"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-images" title="Sights" href="#/local/sights">
      <ion-nav-view name="local-sights"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
