<ion-view title="Local Sights">
  <ion-content>
    <ul class="list">
      <li class="item item-divider">Natural</li>
      <li class="item">
        <h2>Botanical Gardens</h2>
        <p>4.4 miles</p>
      </li>
      <li class="item">
        <h2>Hidden Falls</h2>
        <p>7.5 miles</p>
      </li>
      <li class="item">
        <h2>Lookout Point</h2>
        <p>8.2 miles</p>
      </li>
      <li class="item">
        <h2>Natural Stone Arches</h2>
        <p>12.3 miles</p>
      </li>
      <li class="item item-divider">Kid Friendly</li>
      <li class="item">
        <h2>Zoo</h2>
        <p>3.8 miles</p>
      </li>
      <li class="item">
        <h2>Amusement Park</h2>
        <p>7.5 miles</p>
      </li>
      <li class="item">
        <h2>Putt Putt</h2>
        <p>10.4 miles</p>
      </li>
    </ul>
  </ion-content>
</ion-view>
