<ion-view title="Room Service" class="room-service">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="openPreview()">Preview</button>
  </ion-nav-buttons>
  <ion-header-bar align-title="left" class="bar-positive">
    <h1 class="title">Total: {{order.total | currency}}, Items {{order.items.length}}</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <span ng-repeat="course in menu">
      <ion-item class="item-divider">{{course.meal}}</ion-item>
      <ion-item ng-repeat="item in course.items">
        {{item.item}} <span class="item-note">{{item.price | currency}}
        <ion-option-button class="button-positive" ng-click="add(item)">Order</ion-option-button>
      </ion-item>
      </span>
    </ion-list>
  </ion-content>
</ion-view>
